<br>
<div class="text-center mb-8">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">Temporada Pukllaykuna</h1>
    <p class="text-lg md:text-xl text-gray-600">¡Kay pachapaq aswan allin pukllaykunata tariy!</p>
  </div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/trucha.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Challwata hapiy</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/peru.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">llaqtay PERÚ</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/llama.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Nina rawrayta mikhuchiy</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/teclado.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Teclado nisqa</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/monitor.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Monitor nisqa</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-auto md:w-auto">
        <div class="max-w-xs mx-auto bg-white border border-gray-200 rounded-3xl shadow-xl dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <a href="#">
                <img class="w-full h-40 sm:h-48 sm:w-auto md:h-auto md:w-auto rounded-3xl object-cover transform transition duration-300 hover:scale-150" src="/public/impresora.webp" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Impresora nisqa</h5>
                </a>
            </div>
        </div>
    </div>

</div>
